<div class="container"> 
  <%= link_to "New Message" , new_message_path, class: "btn btn-default pull-right" %>
</div>
<div class="container"> 
  <ul class="nav nav-tabs">
    <li class="active">
      <a  href="#inbox" data-toggle="tab">Inbox</a>
    </li>
    <li><a href="#sent" data-toggle="tab">Sent</a>
    </li>
  </ul>
  <div class="tab-content ">
    <div class="tab-pane active" id="inbox">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Email</th>
            <th>Message</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <% @received_messages.each do |message| %>
            <tr>
              <td><%= message.recipient.email %></td>
              <td><%= message.body %></td>
              <td><%= message.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="sent">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Email</th>
            <th>Message</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <% @send_messages.each do |message| %>
            <tr>
              <td><%= message.sender.email %></td>
              <td><%= message.body %></td>
              <td><%= message.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>