<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-primary" style="background-color: #e3f2fd;">
     <div class="container-fluid">
       <div class="navbar-header">
         <%= link_to 'Chat App', root_path, class: 'navbar-brand' %>
       </div>
       <div id="navbar">
         <ul class="nav navbar-nav pull-right">
           <% if user_signed_in? %>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li> 
           <% else %>
             <li><%= link_to 'Log In', new_user_session_path %></li>   
           <% end %>
         </ul>
       </div>
     </div>
   </nav>
   <%- flash.each do |name, msg| -%>
     <%= content_tag :div, msg, id: "flash_#{name}" %>
   <%- end -%>
    <%= yield %>
  </body>
</html>
